{% extends "base.html" %} {% block title %}Home{% endblock %} {% block content
%}
<form method="POST">
  <h3 align="center">Search</h3>
  <ul class="list" id="searches">
  {% for search in user.searches %}
  <li class="list group">
    {{ search.make }} {{ search.model }} {{ search.years }} {{ search.transmission }} {{ search.date }}
    <button type="button" class="close" onClick="deleteSearch({{ search.id }})">
      <span aria-hidden="true">&times;</span>
    </button>
  </li>
  {% endfor %}
</ul>
  <div class="form group">
    <label for="make" align="center">Make</label>
    <input
      type="text"
      class="form entry"
      align="right"
      id="make"
      name="make"
      placeholder="Enter make"
    />

    <label for="model">Model</label>
    <input
      type="text"
      class="form entry"
      id="model"
      name="model"
      placeholder="Enter model"
    />
    <label for="year">Year</label>
    <input
      type="text"
      class="form entry"
      id="year"
      name="year"
      placeholder="Enter year"
    />
    <label for="transmission">Transmission</label>
    <input
      type="text"
      class="form entry"
      id="transmission"
      name="transmission"
      placeholder="Enter manual or automatic"
    />
  </div>
  <br />
  <button type="submit" class="btn">Search</button>
</form>
<div>
  {% for search in user.searches %}
    <p>Make: {{ search.make }}</p>
    <p>Model: {{ search.model }}</p>
    <p>Year: {{ search.years }}</p>
    <p>Transmission: {{ search.transmission }}</p>
    <p>City MPG: {{ search.cmg }}</p>
    <p>Highway MPG: {{ search.hmg }}</p>
    <p>Class: {{ search.c }}</p>
    <p>Drive: {{ search.drive }}</p>
    <p>Engine: {{ search.engine }} Cylinders</p>
  </p>
  {% endfor %}
</div>
{% endblock %}
