{% extends "base.html" %}
{% block title %}
    Search
{% endblock %}
{% block name %}
{% endblock %}
{% block u1 %}
    {% if user.is_authenticated %}
        <li><a href="/">Home</a></li>
        <li> class="active"<a href="/search">Search</a></li>
    {% else %}
        <li><a href="/login">LogIn</a></li>
        <li><a href="/sign-up">Sign Up</a></li>
        <li><a href="/logout">logout</a></li>
    {% endif %}
{% endblock %}
{% block content %}
    <input
      type="search"
      class="form"
      id="search"
      name="search"
      placeholder="Search"
    />
{% endblock %}